class ServerConfig:
    HOST = ''
    PORT = 80
    SERVER_ROOT = "/Absolute/Path/To/Document/Root"
    MAX_REQUESTS = 10
    RESPONSE_TYPE = "jeeves"
    REQUEST_LOGGING = True
    ERROR_REPORTING = True
    LIST_DIRECTORY_CONTENTS = False